//**********************SIGNUP***********************************
@keyframes signupLoad {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  60% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0%;
  }
  100% {
    opacity: 1;
  }
}

@keyframes signupCon {
  0% {
    // transform: translateX(100%);
    width: 0%;
  }
  // 40% {
  //     // transform: translateX(80%);
  //     width: 20%;
  // }
  // 80% {
  //     // transform: translateX(40%);
  //     width: 33%;
  // }
  100% {
    // transform: translateX(0%);
    width: 66%;
  }
}

@keyframes signupImg {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  80% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeout {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes drop_down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  //   50% {
  //     opacity: 1;
  //     transform: translateY(-50%);
  //   }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes inkpen {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
